*{
    margin: 0;
    padding: 0;
}

body{
    height:100vh;
    width:99vw;
    font-family: 'roboto', sans-serif;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
  margin: 0 auto;
  width: 100%;
}

.top-bar{
  display: flex;
  background-color: hsl(0, 0%, 90%);
  padding: 0.3rem 10%;
  width: 80%;
  justify-content: space-between;
}

.top-bar-highlight{
  display: flex;
}

.top-bar-highlight ul{
  display: flex;
  gap: 0.4rem;
  
}

.top-bar-highlight ul li:not(:first-child):not(:last-child)::after{
  content:"-";
  margin-left: 0.3rem;
}

.top-bar-sort{
  display: flex;
}

.top-bar-sort ul{
  display: flex;
  gap: 0.4rem;
  font-size: 0.7rem;
}

.top-bar-sort ul li:not(:last-child)::after{
  color: rgba(0, 0, 0, 0.459);
  content:"|";
  margin-left: 0.3rem;
}

.menu{
  background-color: hsl(0, 100%, 40%);
  display: flex;
  justify-content: space-between;
  padding: 1rem 10%;
  width: 80%;
  align-items: center;
  height: auto;
}

.menu-hamburger button svg{
    fill: white;
    width: 2rem;
}

.menu-title svg{
    width: 100%;
    display: flex;
    justify-content: center;
    fill: white;

}

.menu-access{
    display: flex;
    width: 20%;
    gap:0.5rem;
}

.menu-login{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width:50%;
    padding: 0rem 0.5rem;
   
}

.menu-login-button svg{
    width: 15%;
    
}

.menu-login  button{
    display: flex;
    gap:0.3rem;
    justify-content: center;
    
}

.menu-login span{
  white-space: nowrap;
}

.menu-signup{
  display: flex;
  align-items: center;
  background-color: yellow;
  padding: 0.6rem;
  border-radius: 5px;
  width:30%;
  justify-content: center;
   
  
}

.navigator{
  display: flex;
  background-color: hsl(0, 0%, 90%);

}

.navigator-home{

}

.navigator-link{

}

.navigator-search{

}


body{
    margin: 0;
    min-height: 100vh;
    justify-content: center;
}

main{
   display: flex;

}

.block{
    display: flex;
    width: 50%;
    justify-content: center;
    
}
.news-block{
    flex-wrap: wrap;
}
.one-column{
    
}
.news{

}
.news-image{

}
.news-title{

}
.news-description{

}
.news-footer{

}
.four-columns{

}
.two-columns{

}
.ads-block{

}
