*{
    margin: 0;
    padding: 0;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    margin: 0 auto;
    align-items: center;
    background-color: #ff0000;
   
    padding: 1,5rem 0 ;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;


    
}
.menu-hamburger{
    display: flex;
   justify-content: start;
}

.menu-hamburger button svg{
    width: 3rem;
}


.menu-hamburger button svg path{
    fill: black;
}

.menu-title{
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.menu-login{
    display: flex;
    justify-content: end;
}

.menu-login button svg{
    width: 0,5rem;
    
}

.menu-signup{
   
}

.navigator{

}

.navigator-home{

}

.navigator-link{

}

.navigator-search{

}


body{
    margin: 0;
    min-height: 100vh;
    justify-content: center;
}

main{
   display: flex;

}

.block{
    display: flex;
    width: 60%;
    justify-content: center;
    
}
.news-block{
    flex-wrap: wrap;
}
.one-column{
    
}
.news{

}
.news-image{

}
.news-title{

}
.news-description{

}
.news-footer{

}
.four-columns{

}
.two-columns{

}
.ads-block{

}
